body{
        background-image: url(JoeRussoINWindow.png);
        background-size: 75svb;
        margin:0;
}


h1{
    font-family: 'Rubik Mono One', sans-serif;
    color:yellow;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-align: center;
    font-size: 30px;

}


.container{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content:space-around;
    max-width: fit-content;
    flex-wrap: wrap;
    margin: 5px 5px;
}

iframe{
    max-width: 100%;
    max-height: 100%;
    margin: 3px 3px;
    }

.lcolumn{
    width: 32vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.midcolumn{
    height:10vh;
    width: 32vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.rcolumn{
    width: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#octopus{
    animation: move;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}


    @keyframes move {
    
      
        0% {
          transform: translateY(35vh);
        }
      
        14% {
          transform: translateY(55vh);
        }
      
        28% {
          transform: translateY(75vh);
        }
      
        42% {
          transform: translateY(97vh);
        }
      
        56% {
          transform: scaleX(-1) translateY(97vh); /* Flip the image here */
        }
      
        70% {
          transform: scaleX(-1) translateY(75vh);
        }
      
        84% {
          transform: scaleX(-1) translateY(55vh); 
        }
      
        100% {
          transform: scaleX(-1) translateY(35vh); 
        }


}